In [1]:
import sqlite3
import random
import string

### 练习1
创建 university 数据库 \
创建students表  \
  至少包括 ID，姓名，性别，年龄等必要字段，并自己为这些字段选择合适的字段类型

In [2]:
# 数据库文件是university.db，不存在，则自动创建
with sqlite3.connect('university.db') as db:
# 创建一个cursor：
    cursor = db.cursor()

In [3]:
# 执行一条SQL语句：创建students表
cursor.execute('create table if not exists students( \
    id integer primary key, \
    name text not null, \
    gender text not null, \
    age intger not null, \
    major text not null)')
db.commit()

### 练习2
增加和更新students 表的数据 \
至少有3名同学（周边）

在university 数据库中建立class表 \
增加和更新表的数据

至少有三门以上课程   \
提示，至少包括课号，课程名，教师。

In [4]:
# 插入数据：
genders = ['male', 'female']
majors = ['Math', 'CS', 'Finance', 'Economics']

for i in range(20):
    name = ''.join(random.sample(string.ascii_lowercase, 5))
    gender = genders[random.randint(0, 1)]
    age = random.randint(12, 24)
    major = majors[random.randint(0, 3)]
    cursor.execute('insert into students (id, name,gender,age,major) \
        values ({},"{}","{}",{},"{}")'.format(i+1, name, gender, age, major))
db.commit()

IntegrityError: UNIQUE constraint failed: students.id

In [5]:
cursor.execute('select * from students')
print('---------------students--------------------')
for x in cursor.fetchall():
    print(x)

---------------students--------------------
(1, 'kinqp', 'female', 24, 'Economics')
(2, 'kbdsr', 'female', 18, 'Finance')
(3, 'vtjxo', 'female', 12, 'Economics')
(4, 'gnvcs', 'male', 17, 'Economics')
(5, 'wcmvy', 'female', 13, 'Finance')
(6, 'yuhmv', 'female', 12, 'CS')
(7, 'gtoyh', 'female', 24, 'Economics')
(8, 'trdvb', 'female', 24, 'Math')
(9, 'nwqxo', 'male', 13, 'Economics')
(10, 'ugkqn', 'male', 13, 'CS')
(11, 'lpcqm', 'male', 13, 'Finance')
(12, 'kgxfn', 'male', 24, 'Math')
(13, 'vetjq', 'male', 20, 'Math')
(14, 'nfwum', 'male', 19, 'CS')
(15, 'mcbfi', 'female', 15, 'CS')
(16, 'vjskh', 'male', 20, 'Math')
(17, 'dzjra', 'female', 16, 'Economics')
(18, 'qdvxt', 'male', 24, 'CS')
(19, 'hnyie', 'female', 15, 'Finance')
(20, 'iaoxv', 'male', 14, 'CS')

In [6]:
# 执行一条SQL语句：创建class表
cursor.execute('create table if not exists class( \
    class_id integer primary key, \
    class_name text, \
    lecture text, \
    credit integer )')

classes = ['Python', 'Java', 'C++', 'C', 'R', 'Go']
lectures = ['Adam', 'Bob', 'Cyrus', 'Dan', 'Eric', 'Frank']
Credits = [3, 2, 3, 2, 1, 1]
for i in range(6):
    cursor.execute('insert into class (class_id, class_name,lecture,credit) \
        values ({},"{}","{}",{})'.format(i+1, classes[i], lectures[i], Credits[i]))
db.commit()

In [6]:
cursor.execute('select * from class')
print('---------------class--------------------')
for x in cursor.fetchall():
    print(x)

---------------class--------------------
(1, 'Python', 'Adam', 3)
(2, 'Java', 'Bob', 2)
(3, 'C++', 'Cyrus', 3)
(4, 'C', 'Dan', 2)
(5, 'R', 'Eric', 1)
(6, 'Go', 'Frank', 1)

### 练习3
在university 数据库中创建选课表enrolled表;\
至少包括：学生ID，选课的课号，考试分数   \
增加和更新表的数据

In [8]:
# 执行一条SQL语句：创建enrolled表
cursor.execute('create table if not exists enrolled( \
    student_id integer,  \
    class_id integer, \
    credit integer, \
    score integer, \
    primary key(student_id,class_id) )')

for i in range(20):
    student_id = i+1
    for j in range(random.randint(1, 6)):
        class_id = j+1
        credit = Credits[j]
        score = random.randint(0, 100)
        cursor.execute('insert into enrolled (student_id,class_id, credit,score) \
            values ({},{},{},{})'.format(student_id, class_id, credit, score))
db.commit()

In [7]:
cursor.execute('select * from enrolled')
print('---------------students--------------------')
for x in cursor.fetchall():
    print(x)

---------------students--------------------
(1, 1, 3, 47)
(1, 2, 2, 87)
(1, 3, 3, 25)
(1, 4, 2, 75)
(2, 1, 3, 7)
(2, 2, 2, 28)
(2, 3, 3, 82)
(2, 4, 2, 59)
(2, 5, 1, 21)
(2, 6, 1, 19)
(3, 1, 3, 38)
(3, 2, 2, 38)
(3, 3, 3, 46)
(3, 4, 2, 2)
(4, 1, 3, 29)
(4, 2, 2, 20)
(4, 3, 3, 16)
(4, 4, 2, 33)
(4, 5, 1, 76)
(4, 6, 1, 83)
(5, 1, 3, 48)
(5, 2, 2, 97)
(5, 3, 3, 46)
(5, 4, 2, 14)
(5, 5, 1, 77)
(5, 6, 1, 75)
(6, 1, 3, 96)
(6, 2, 2, 70)
(6, 3, 3, 19)
(7, 1, 3, 72)
(7, 2, 2, 76)
(8, 1, 3, 40)
(8, 2, 2, 9)
(8, 3, 3, 92)
(8, 4, 2, 40)
(9, 1, 3, 77)
(9, 2, 2, 96)
(10, 1, 3, 29)
(10, 2, 2, 74)
(10, 3, 3, 4)
(10, 4, 2, 81)
(10, 5, 1, 40)
(10, 6, 1, 72)
(11, 1, 3, 12)
(11, 2, 2, 94)
(11, 3, 3, 76)
(11, 4, 2, 4)
(12, 1, 3, 46)
(12, 2, 2, 26)
(13, 1, 3, 26)
(13, 2, 2, 31)
(13, 3, 3, 71)
(13, 4, 2, 1)
(13, 5, 1, 25)
(13, 6, 1, 94)
(14, 1, 3, 29)
(14, 2, 2, 1)
(14, 3, 3, 21)
(14, 4, 2, 75)
(14, 5, 1, 23)
(15, 1, 3, 8)
(15, 2, 2, 29)
(16, 1, 3, 100)
(16, 2, 2, 74)
(16, 3, 3, 30)
(16, 4, 2, 55)
(16, 5, 1, 43)
(16, 6, 1, 83)
(17, 1, 3, 71)
(17, 2, 2, 98)
(17, 3, 3, 55)
(18, 1, 3, 69)
(18, 2, 2, 38)
(18, 3, 3, 67)
(18, 4, 2, 29)
(18, 5, 1, 23)
(18, 6, 1, 96)
(19, 1, 3, 69)
(19, 2, 2, 57)
(19, 3, 3, 41)
(19, 4, 2, 90)
(20, 1, 3, 16)
(20, 2, 2, 82)
(20, 3, 3, 77)
(20, 4, 2, 63)

### 练习4

使用 INNER JOIN 查询学生的个人信息和每个课程的分数。

In [8]:
# 查询学生的个人信息及分数
cursor.execute('''select id,name,gender,age,major,class_name,credit,score
                  from students s
                  inner join
                  (select student_id,class_name,c.credit,score
                   from class c
                   inner join enrolled e
                   on c.class_id = e.class_id) tc
                  on s.id =tc.student_id''')
print('---------------inner join--------------------')
for x in cursor.fetchall():
    print(x)

---------------inner join--------------------
(1, 'kinqp', 'female', 24, 'Economics', 'Python', 3, 47)
(1, 'kinqp', 'female', 24, 'Economics', 'Java', 2, 87)
(1, 'kinqp', 'female', 24, 'Economics', 'C++', 3, 25)
(1, 'kinqp', 'female', 24, 'Economics', 'C', 2, 75)
(2, 'kbdsr', 'female', 18, 'Finance', 'Python', 3, 7)
(2, 'kbdsr', 'female', 18, 'Finance', 'Java', 2, 28)
(2, 'kbdsr', 'female', 18, 'Finance', 'C++', 3, 82)
(2, 'kbdsr', 'female', 18, 'Finance', 'C', 2, 59)
(2, 'kbdsr', 'female', 18, 'Finance', 'R', 1, 21)
(2, 'kbdsr', 'female', 18, 'Finance', 'Go', 1, 19)
(3, 'vtjxo', 'female', 12, 'Economics', 'Python', 3, 38)
(3, 'vtjxo', 'female', 12, 'Economics', 'Java', 2, 38)
(3, 'vtjxo', 'female', 12, 'Economics', 'C++', 3, 46)
(3, 'vtjxo', 'female', 12, 'Economics', 'C', 2, 2)
(4, 'gnvcs', 'male', 17, 'Economics', 'Python', 3, 29)
(4, 'gnvcs', 'male', 17, 'Economics', 'Java', 2, 20)
(4, 'gnvcs', 'male', 17, 'Economics', 'C++', 3, 16)
(4, 'gnvcs', 'male', 17, 'Economics', 'C', 2, 33)
(4, 'gnvcs', 'male', 17, 'Economics', 'R', 1, 76)
(4, 'gnvcs', 'male', 17, 'Economics', 'Go', 1, 83)
(5, 'wcmvy', 'female', 13, 'Finance', 'Python', 3, 48)
(5, 'wcmvy', 'female', 13, 'Finance', 'Java', 2, 97)
(5, 'wcmvy', 'female', 13, 'Finance', 'C++', 3, 46)
(5, 'wcmvy', 'female', 13, 'Finance', 'C', 2, 14)
(5, 'wcmvy', 'female', 13, 'Finance', 'R', 1, 77)
(5, 'wcmvy', 'female', 13, 'Finance', 'Go', 1, 75)
(6, 'yuhmv', 'female', 12, 'CS', 'Python', 3, 96)
(6, 'yuhmv', 'female', 12, 'CS', 'Java', 2, 70)
(6, 'yuhmv', 'female', 12, 'CS', 'C++', 3, 19)
(7, 'gtoyh', 'female', 24, 'Economics', 'Python', 3, 72)
(7, 'gtoyh', 'female', 24, 'Economics', 'Java', 2, 76)
(8, 'trdvb', 'female', 24, 'Math', 'Python', 3, 40)
(8, 'trdvb', 'female', 24, 'Math', 'Java', 2, 9)
(8, 'trdvb', 'female', 24, 'Math', 'C++', 3, 92)
(8, 'trdvb', 'female', 24, 'Math', 'C', 2, 40)
(9, 'nwqxo', 'male', 13, 'Economics', 'Python', 3, 77)
(9, 'nwqxo', 'male', 13, 'Economics', 'Java', 2, 96)
(10, 'ugkqn', 'male', 13, 'CS', 'Python', 3, 29)
(10, 'ugkqn', 'male', 13, 'CS', 'Java', 2, 74)
(10, 'ugkqn', 'male', 13, 'CS', 'C++', 3, 4)
(10, 'ugkqn', 'male', 13, 'CS', 'C', 2, 81)
(10, 'ugkqn', 'male', 13, 'CS', 'R', 1, 40)
(10, 'ugkqn', 'male', 13, 'CS', 'Go', 1, 72)
(11, 'lpcqm', 'male', 13, 'Finance', 'Python', 3, 12)
(11, 'lpcqm', 'male', 13, 'Finance', 'Java', 2, 94)
(11, 'lpcqm', 'male', 13, 'Finance', 'C++', 3, 76)
(11, 'lpcqm', 'male', 13, 'Finance', 'C', 2, 4)
(12, 'kgxfn', 'male', 24, 'Math', 'Python', 3, 46)
(12, 'kgxfn', 'male', 24, 'Math', 'Java', 2, 26)
(13, 'vetjq', 'male', 20, 'Math', 'Python', 3, 26)
(13, 'vetjq', 'male', 20, 'Math', 'Java', 2, 31)
(13, 'vetjq', 'male', 20, 'Math', 'C++', 3, 71)
(13, 'vetjq', 'male', 20, 'Math', 'C', 2, 1)
(13, 'vetjq', 'male', 20, 'Math', 'R', 1, 25)
(13, 'vetjq', 'male', 20, 'Math', 'Go', 1, 94)
(14, 'nfwum', 'male', 19, 'CS', 'Python', 3, 29)
(14, 'nfwum', 'male', 19, 'CS', 'Java', 2, 1)
(14, 'nfwum', 'male', 19, 'CS', 'C++', 3, 21)
(14, 'nfwum', 'male', 19, 'CS', 'C', 2, 75)
(14, 'nfwum', 'male', 19, 'CS', 'R', 1, 23)
(15, 'mcbfi', 'female', 15, 'CS', 'Python', 3, 8)
(15, 'mcbfi', 'female', 15, 'CS', 'Java', 2, 29)
(16, 'vjskh', 'male', 20, 'Math', 'Python', 3, 100)
(16, 'vjskh', 'male', 20, 'Math', 'Java', 2, 74)
(16, 'vjskh', 'male', 20, 'Math', 'C++', 3, 30)
(16, 'vjskh', 'male', 20, 'Math', 'C', 2, 55)
(16, 'vjskh', 'male', 20, 'Math', 'R', 1, 43)
(16, 'vjskh', 'male', 20, 'Math', 'Go', 1, 83)
(17, 'dzjra', 'female', 16, 'Economics', 'Python', 3, 71)
(17, 'dzjra', 'female', 16, 'Economics', 'Java', 2, 98)
(17, 'dzjra', 'female', 16, 'Economics', 'C++', 3, 55)
(18, 'qdvxt', 'male', 24, 'CS', 'Python', 3, 69)
(18, 'qdvxt', 'male', 24, 'CS', 'Java', 2, 38)
(18, 'qdvxt', 'male', 24, 'CS', 'C++', 3, 67)
(18, 'qdvxt', 'male', 24, 'CS', 'C', 2, 29)
(18, 'qdvxt', 'male', 24, 'CS', 'R', 1, 23)
(18, 'qdvxt', 'male', 24, 'CS', 'Go', 1, 96)
(19, 'hnyie', 'female', 15, 'Finance', 'Python', 3, 69)
(19, 'hnyie', 'female', 15, 'Finance', 'Java', 2, 57)
(19, 'hnyie', 'female', 15, 'Finance', 'C++', 3, 41)
(19, 'hnyie', 'female', 15, 'Finance', 'C', 2, 90)
(20, 'iaoxv', 'male', 14, 'CS', 'Python', 3, 16)
(20, 'iaoxv', 'male', 14, 'CS', 'Java', 2, 82)
(20, 'iaoxv', 'male', 14, 'CS', 'C++', 3, 77)
(20, 'iaoxv', 'male', 14, 'CS', 'C', 2, 63)

创建视图备练习5使用

In [12]:
#创建视图以便查询
cursor.execute('create view score as \
    select id,name,class_name,credit,score            \
    from students s inner join\
    (select student_id,class_name,c.credit,score from class c inner join enrolled e on c.class_id = e.class_id)tc \
    on s.id =tc.student_id')
db.commit()

In [13]:
# 关闭Cursor:
cursor.close()
# 关闭connection：
db.close()

### 练习5
结合Tkinter，做一个成绩查询的SQLite系统 \
提示：  \
创建一个查询按钮，查询所有students表

## test_tkinter.py
   简单的成绩查询界面

In [2]:
from tkinter import *
from tkinter import ttk
from tkinter import messagebox
import sqlite3

def query():
    id=in_id.get()
    name=in_name.get()
    course=in_co.get()
    #清空treeview
    items=tree.get_children()
    for item in items:
        tree.delete(item)
    #查询条件
    q_id = ''if id=='' else 'id='+id
    q_name = '' if name=='' else 'name="{}"'.format(name)
    q1 = ' and ' if (q_id!='' and q_name!='') else ''
    q_course = '' if course=='' else 'class_name="{}"'.format(course)
    q2 = ' and ' if ((q_id+q_name)!='' and q_course!='') else ''
    q = q_id+q1+q_name+q2+q_course
    q = q if q=='' else ' where '+q
    print(q)
    #执行查询,插入结果到表格
    cursor.execute('select * from score'+q)
    #cursor.execute('select * from students'+q)
    count=0  
    for item in cursor.fetchall():
        tree.insert('','end',values=item)
        count+=1
    if count==0:
        messagebox.showinfo('提醒','未查询到相关结果')

# 数据库文件是university.db，不存在，则自动创建
with sqlite3.connect('university.db') as db:
# 创建一个cursor：
    cursor = db.cursor()

# 创建主窗口对象
root = Tk()
# 设置初始化界面大小
root.geometry('600x400')
root.resizable(False, False)
# 窗口标题
root.title("成绩查询系统")

frame1 = Frame(root)
frame2 = Frame(root)
 
frame1.pack(side='top',ipady=10)
frame2.pack()

lb_id=Label(frame1,text='学号').pack(side='left')
in_id=Entry(frame1,width=10)
in_id.pack(side='left',padx=10)
lb_name=Label(frame1,text='姓名').pack(side='left')
in_name=Entry(frame1,width=10)
in_name.pack(side='left',padx=10)
lb_co=Label(frame1,text='课程').pack(side='left')
in_co=Entry(frame1,width=10)
in_co.pack(side='left',padx=10)

bt_query = Button(frame1,text = '查询',command = query)
bt_query.pack(side='right',padx=10)

tree=ttk.Treeview(frame2,show="headings")   #表格
tree['columns']=('学号','姓名','课程','学分','成绩')
tree.column('学号',width=100,anchor='center')   #表示列,不显示
tree.column('姓名',width=80,anchor='center')
tree.column('课程',width=100,anchor='center')
tree.column('学分',width=50,anchor='center') 
tree.column('成绩',width=80,anchor='center')

tree.heading('学号',text='学号')  #显示表头
tree.heading('姓名',text='姓名')
tree.heading('课程',text='课程')
tree.heading('学分',text='学分')
tree.heading('成绩',text='成绩')

#滚动条
vbar = ttk.Scrollbar(frame2,orient=VERTICAL,command=tree.yview)
tree.configure(yscrollcommand=vbar.set)
vbar.pack(side='right',fill='y')

hbar = ttk.Scrollbar(frame2,orient=HORIZONTAL,command=tree.xview)
tree.configure(xscrollcommand=hbar.set)
hbar.pack(side='bottom',fill='x')
tree.pack()

#关闭窗口时断开数据库
def on_closing():
    # 关闭Cursor:
    cursor.close()
    # 关闭connection：
    db.close() 
    root.destroy()

root.protocol("WM_DELETE_WINDOW", on_closing)

# 加入消息循环
root.mainloop()

 where id=1
 where id=1
 where id=2
 where id=2 and name="Python"
 where id=2 and class_name="Python"